.selector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 16px;
  font-family: 'Gilroy';
  font-weight: 700;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .selector {
    flex-direction: row;
    align-items: center;
    align-items: baseline;
  }
  .selector .selector > option {
    color: #FFF;
  }
}

#odForm {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
}

@media only screen and (min-width: 1022px) {
  #odForm {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 1202px) {
  #odForm {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  #odForm {
    flex-direction: row;
  }
}

.pointerH2 {
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  font-family: 'Gilroy';
  font-weight: 700;
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  .pointerH2 {
    flex-direction: row;
    align-items: center;
    align-items: baseline;
  }
}

.mainOriginBtn {
  background: transparent;
  display: flex;
  border: none;
  color: #00A3E0 !important;
  text-decoration: underline;
  align-items: baseline;
  gap: 8px;
  font-weight: 500;
}

.defaultSel {
  font-weight: 700;
}

.defaultSel:hover {
  color: #FF0000;
  cursor: pointer;
}

.dropdownOrigins {
  box-sizing: border-box;
  display: none;
  animation-name: slideUp;
  animation-duration: 0.8s;
  transition: ease-in-out 3s;
}

@keyframes slideUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dropdownOrigins ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdownOrigins li a {
  display: flex;
  margin: 3px;
  text-decoration: none;
  color: #002880;
  font-weight: 500;
}

.dropdownOrigins li a:hover {
  color: #00A3E0;
}

.btn-origins {
  flex-direction: column;
}

.btn-origins:hover .dropdownOrigins {
  display: block;
  animation-name: slideDown;
  animation-duration: 0.8s;
  transition: ease-in-out 3s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.selector > select:focus {
  border: 0;
}

.inputShort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goBtn {
  border: 1px solid #0032a0;
  padding: 8px 24px;
  width: auto;
  height: auto;
  background: #0032a0;
  border-radius: 100px;
  color: #fff;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .goBtn {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1202px) {
  .goBtn {
    margin-top: 0px;
  }
}

.goBtn:hover {
  border: 1px solid #001a66;
  background: #001a66;
}

.goBtn:focus {
  background: #001a66;
  outline: #001a66 solid 1px;
  border: 2px solid #fff;
  border-radius: 100px;
}

.selectOriDest {
  font-family: 'Gilroy';
  outline: none;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background: transparent;
  text-align-last: left;
  width: auto;
  padding: 4px 8px 4px 0px;
  border-bottom: 1.5px #EFEFEE solid;
}

.selectOriDest:hover {
  border-bottom: 1.5px #0032A0 solid;
}

.selectOriDest:focus {
  border-bottom: 1.5px #0032A0 solid;
}

.selectOriDest option {
  background: #fff;
  white-space: normal;
  font-size: 14px  !important;
  font-weight: 500;
  appearance: none;
  color: #001A66;
  padding: 4px 8px 4px 0px;
}

.erro {
  display: none;
}

#showStopper {
  font-family: 'Suisse Intl' !important;
  color: #00A3E0;
  text-align: center;
  margin: 8px;
}

.erroHide {
  display: block;
}
