.destinations{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}


.destination{


border-radius: 16px;
display: grid;
grid-template-columns: auto;
grid-template-rows: 142px 8px 72px;


@media only screen and (min-width: 395px){

    height: 304px;
    grid-template-rows:200px 32px 72px;

}


    &__image{
        height: auto;
        grid-row: 1 / span 3;
   

    }

    &__info{
        background-color: #0032A0;
        border-radius: 16px;
        width: 100%;
        grid-row: 2 / 4 !important;
        display: flex;
       /* grid-template-columns: auto auto;*/
        justify-self: center;
        justify-content: center;
        align-items: center;
        gap: 8px;
      

            &__title{
            font-family: 'Gilroy';
            font-size: 19px;
            font-weight: 700;
            text-decoration: none;
            display: flex;
            gap: 8px;
            align-items: baseline;


            @media only screen and (min-width: 395px){
                font-size: 1.4em;
            
            }

        }

    }


}