.g-1{
  
    width: 275px;
    @media only screen and (min-width: 360px){
        width: 342px;
    }
    @media only screen and (min-width: 425px){
        width: 386px;
    }

 
    @media only screen and (min-width: 768px){
       width:303px ;
    }
    @media only screen and (min-width: 1024px){
        width: 500px;
    }
}


.g-2{
    width: 275px;

    @media only screen and (min-width: 360px){
        width: 342px;
    }

    @media only screen and (min-width: 425px){
        width: 386px;
    }
    @media only screen and (min-width: 768px){
        width:303px ;
    }
    @media only screen and (min-width: 1024px){
        width: 500px;
    }
}


.g-3{
    width: 275px;

    @media only screen and (min-width: 360px){
        width: 342px;
    }

    @media only screen and (min-width: 425px){
        width: 386px;
    }

    @media only screen and (min-width: 768px){
        width:303px ;  
    }
    @media only screen and (min-width: 1024px){
        width: 500px;
    }

}


.g-4{
    width: 275px;

    @media only screen and (min-width: 360px){
        width: 342px;
    }
    @media only screen and (min-width: 425px){
        width: 386px;
    }
    @media only screen and (min-width: 768px){
        width:303px ;  
    }
    @media only screen and (min-width: 1024px){
        width: 500px;
    }

}



