@import '_hero.scss';
@import '_interlinking.scss';
@import '_promoFares.scss';
@import '_selector.scss';
@import '_grid-settings.scss';
@import '_duo-new-destination.scss';

body{
    margin: 0;
    overflow-x: none;
}

.text-white{
    color: #fff;
}

.text-blue{
    color:#0032A0 ;
}

.cm-design-sytem.styles-override h2 {
    color: #0032A0;
}


.container{

    margin: 0 auto;
    margin-top: 5em;

    @media only screen and (min-width: 769px){
   width: 1200px;
    }
    
}


